<ng-template #splitAreaTemplate let-splitArea="splitArea" let-iSplitArea="iSplitArea">
  <ng-container *ngIf="splitArea.splitDirection">
    <as-split
      [gutterSize]="viewService.config.gutterSize"
      [direction]="splitArea.splitDirection"
      [disabled]="viewService.config.disabled"
      (dragEnd)="viewService.onDragEnd(splitArea, -1, $event)"
      (dblclick)="viewService.onDoubleClick(splitArea, $event)"
    >
      <ng-template ngFor let-subArea [ngForOf]="splitArea.splitAreas" let-iSubArea="index">
        <as-split-area [visible]="subArea.visible" [order]="iSubArea" [size]="subArea.size">
          <ng-template
            [ngTemplateOutlet]="splitAreaTemplate"
            [ngTemplateOutletContext]="{ splitArea: subArea, iSplitArea: iSubArea }"
          >
          </ng-template>
        </as-split-area>
      </ng-template>
    </as-split>
  </ng-container>
  <ng-container *ngIf="splitArea.splitDirection === undefined">
    <app-view-container
      [splitArea]="splitArea"
      [config]="splitArea.config"
      [type]="splitArea.viewType"
      [title]="splitArea.label"
      [multiView]="splitArea.config.isMainView || splitArea.config.multiView"
    >
    </app-view-container>
  </ng-container>
</ng-template>

<app-view-panel
  [position]="'left'"
  [config]="viewService.config"
  [splitArea]="viewService.config.splitAreas ? viewService.config.splitAreas[0] : null"
>
</app-view-panel>
<div class="main-panel">
  <ng-template
    [ngTemplateOutlet]="splitAreaTemplate"
    [ngTemplateOutletContext]="{ splitArea: viewService.config, iSplitArea: -1 }"
  >
  </ng-template>
</div>
<app-view-panel
  [position]="'right'"
  [config]="viewService.config"
  [splitArea]="viewService.config.splitAreas ? viewService.config.splitAreas[2] : null"
>
</app-view-panel>
