<ng-template #actionTemplateRef let-action="action">
  <div class="toolbar" *ngIf="action && action.type === 'tool-bar'">
    <ng-template ngFor let-childAction [ngForOf]="action.actions">
      <ng-template [ngTemplateOutlet]="actionTemplateRef" [ngTemplateOutletContext]="{ action: childAction }">
      </ng-template>
    </ng-template>
  </div>

  <div
    [ngClass]="getGroupClass(action)"
    *ngIf="action && action.type == 'btn-group' && (!action.visible || action.visible(item))"
  >
    <ng-template ngFor let-childAction [ngForOf]="action.actions">
      <ng-template [ngTemplateOutlet]="actionTemplateRef" [ngTemplateOutletContext]="{ action: childAction }">
      </ng-template>
    </ng-template>
  </div>

  <input
    type="text"
    class="form-control input-form"
    *ngIf="action && action.type === 'input' && (!action.visible || action.visible(item))"
    [(ngModel)]="action.value"
    (ngModelChange)="action.onChange($event, action)"
    (keyup.enter)="action.click($event, action)"
    [ngbTypeahead]="action.typeahead"
  />

  <button
    type="button"
    class="btn btn-link btn-sm"
    *ngIf="action && action.type === 'button' && (!action.visible || action.visible(item))"
    (click)="action.click($event, action)"
    [class.active]="action.active && action.active(action)"
    [disabled]="action.enabled && !action.enabled(action)"
    [ngbTooltip]="getActionHtml(action)"
    container="body"
  >
    <fa-icon [icon]="action.icon(action)"></fa-icon>
  </button>

  <div
    class="btn-group btn-group-xs me-1"
    ngbDropdown
    *ngIf="action && action.type === 'dropdown' && (!action.visible || action.visible(item))"
    container="body"
  >
    <button class="btn btn-link btn-sm" ngbDropdownToggle [ngbTooltip]="getActionHtml(action)" container="body">
      <fa-icon [icon]="action.icon(action)"></fa-icon>
    </button>
    <div ngbDropdownMenu>
      <ng-template ngFor let-childAction [ngForOf]="action.actions">
        <ng-template [ngTemplateOutlet]="actionTemplateRef" [ngTemplateOutletContext]="{ action: childAction }">
        </ng-template>
      </ng-template>
    </div>
  </div>

  <button
    class="dropdown-item"
    *ngIf="action && action.type === 'dropdown-item' && (!action.visible || action.visible(item))"
    [class.active]="action.active(action)"
    (click)="action.click($event, action)"
    [disabled]="action.enabled && !action.enabled(action)"
  >
    {{ getActionHtml(action) }}
  </button>

  <div
    class="dropdown-divider"
    *ngIf="action && action.type === 'divider' && (!action.visible || action.visible(item))"
  ></div>
</ng-template>

<ng-template [ngTemplateOutlet]="actionTemplateRef" [ngTemplateOutletContext]="{ action: toolBarActions }">
</ng-template>
