.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em);
  padding: .375rem .25rem;
  font-size: 1.0rem;
  font-weight: 200;
  line-height: 1;
}

.input-form {
  margin-top: 0.4em !important;
  font-weight: normal;
  font-size: inherit;
}