<div *ngIf="!options.isDebugVisible" class="properties-panel">
  <div class="properties-header" *ngIf="options.isHeaderVisible && headerData">
    <div class="header-value header-name" [ngbTooltip]="translateFromMap('Name')" container="body">
      {{ headerData.name }}
    </div>
    <div class="header-value header-type" [ngbTooltip]="translateFromMap('Type')">{{ headerData.type }}</div>
    <div *ngIf="headerData.subtype" class="header-value header-type" [ngbTooltip]="translateFromMap('Sub type')">
      {{ headerData.subtype }}
    </div>
    <div *ngIf="headerData.dataPerVersion" class="header-value header-compareState"
      [ngbTooltip]="translateFromMap('Comparison state')">
      <span [ngClass]="headerData.dataPerVersion.compareDisplayData.style">{{
        headerData.dataPerVersion.compareDisplayData.label
        }}</span>
    </div>
    <div *ngIf="headerData.state" class="header-value header-state" [ngbTooltip]="translateFromMap('Object state')">
      {{ headerData.state }}
    </div>
    <div *ngIf="headerData.id" class="header-value header-id">id={{ headerData.id }}</div>
    <div *ngIf="headerData.project" class="header-value header-project">project={{ headerData.project }}</div>
    
    <!-- Additional Info Section -->
    <div *ngIf="hasAdditionalInfo()" class="header-value header-additional-info">
      <span class="additional-info-label" 
            (mouseenter)="showAdditionalInfoTooltip($event)" 
            (mouseleave)="hideAdditionalInfoTooltip()">
        <fa-icon icon="info-circle"></fa-icon>
        Additional Info
      </span>
      
      <!-- Custom HTML Tooltip -->
      <div *ngIf="isTooltipVisible" 
           class="custom-tooltip" 
           [style.left.px]="tooltipX" 
           [style.top.px]="tooltipY">
        <div class="tooltip-content" [innerHTML]="getAdditionalInfoTooltip()"></div>
      </div>
    </div>
  </div>

  <div class="properties-content">
    

    <div class="split-panel">
      <as-split direction="horizontal" gutterSize="10px">
        <as-split-area size="30">
          <div #leftPanel class="left-panel">
            <!-- multi versions -->
            <ng-container *ngIf="isComparisonDisplayEnabled()">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend property-name">
                  <span [ngClass]="{
                      'input-group-text': true
                    }">
                    Projects
                  </span>
                </div>
              </div>
              <div class="input-group input-group-sm">
                <div class="input-group-prepend property-name">
                  <span [ngClass]="{
                      'input-group-text': true
                    }">
                    Statuses
                  </span>
                </div>
              </div>
            </ng-container>

            <div *ngFor="let property of properties" class="property">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend property-name">
                  <span [ngClass]="{
                      'input-group-text': true,
                      'property-active': property.isSelected && isSelectionVisible(),
                      'property-undefined': property.value === undefined
                    }" [ngbTooltip]="property.displayedName" container="body"
                    (click)="onPropertyLabelClick($event, property)"
                    (dblclick)="onPropertyLabelDoubleClick($event, property)">
                    {{ property.displayedName }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </as-split-area>

        <as-split-area size="70">
          <div #rightPanel class="right-panel">
            <!-- No multi version -->
            <ng-container *ngIf="!isComparisonDisplayEnabled()">
              <div *ngFor="let property of properties" class="property">
                <div class="input-group input-group-sm">
                  <div *ngIf="property.displayedValueOld === null" [ngbTooltip]="property.displayedValue"
                    container="body" [ngClass]="{
                      'form-control': true
                    }">
                    <span>
                      {{ property.displayedValue }}
                    </span>
                  </div>

                  <div *ngIf="property.displayedValueOld !== null && !compareService.multiVersionComparisonIsComputed()"
                    [ngClass]="{
                      'form-control': true
                    }" [ngbTooltip]="
                      (property.displayedValueOld ? property.displayedValueOld : '&nbsp') +
                      ' -> ' +
                      property.displayedValue
                    " container="body">
                    <span class="yellow-color">{{
                      property.displayedValueOld ? property.displayedValueOld : "&nbsp;"
                      }}</span>
                    &nbsp;<fa-icon icon="arrow-right"></fa-icon>&nbsp;
                    <span class="red-color">
                      {{ property.displayedValue }}
                    </span>
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- Multi version -->
            <ng-container *ngIf="isComparisonDisplayEnabled()">
              <!-- Project list -->
              <div class="property">
                <div class="input-group input-group-sm">
                  <div class="form-control bg-lt-gray">
                    <table>
                      <td *ngFor="let dataPerVersion of getDataPerVersionList()">
                        <tr class="property-value-cell">
                          <span [ngbTooltip]="dataPerVersion.versionLabel" container="body">
                            {{ formatTextRightAlign(dataPerVersion.versionLabel) }}
                          </span>
                        </tr>
                      </td>
                    </table>
                  </div>
                </div>
              </div>
              <!-- Statuses -->
              <div class="property">
                <div class="input-group input-group-sm">
                  <div class="form-control bg-lt-gray">
                    <table>
                      <td *ngFor="let dataPerVersion of getDataPerVersionList()">
                        <tr class="property-value-cell">
                          <span *ngIf="dataPerVersion && dataPerVersion.compareDisplayData"
                            [ngClass]="dataPerVersion.compareDisplayData.style"
                            [ngbTooltip]="dataPerVersion.compareDisplayData.label" container="body">
                            {{ dataPerVersion.compareDisplayData.shortLabel }}
                          </span>
                        </tr>
                      </td>
                    </table>
                  </div>
                </div>
              </div>
              <!-- Properties -->
              <div *ngFor="let property of properties" class="property">
                <div class="input-group input-group-sm">
                  <div class="form-control">
                    <table *ngIf="property.displayedValue">
                      <td *ngFor="let propertyDataPerVersion of getPropertyDataPerVersionList(property)">
                        <tr class="property-value-cell">
                          <!-- <span [ngbTooltip]="propertyDataPerVersion.displayedValue" container="body"> -->
                          <div [ngbTooltip]="propertyDataPerVersion.displayedValue" container="body">
                            <!-- <span [ngbTooltip]="'Not working test'" container="body"> -->
                            {{ propertyDataPerVersion.displayedValue }}
                          </div>
                        </tr>
                      </td>
                    </table>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </as-split-area>
      </as-split>
    </div>

    <!-- Additional Info Tab -->
    <div *ngIf="hasAdditionalInfo()" class="additional-info-tab">
      <div class="tab-header">
        <h6><fa-icon icon="info-circle"></fa-icon> Additional Information</h6>
      </div>
      <div class="tab-content">
        <div *ngFor="let additionalInfo of firstObject.additionInfosList" class="additional-info-section">
          <div class="section-header">
            <strong>{{ additionalInfo.type?.split(':').pop() || 'Additional Info' }}</strong>
          </div>
          <div class="info-grid">
            <div *ngFor="let propName of getAdditionalInfoPropertyNames(additionalInfo)" class="info-item">
              <div class="info-label">{{ getCleanPropertyName(propName) }}</div>
              <div class="info-value">{{ getAdditionalInfoPropertyValue(additionalInfo, propName) }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="options.isDebugVisible" class="raw-data-panel">
  <div ace-editor class="text-editor" [(text)]="debugData" [mode]="'javascript'" [theme]="'eclipse'"
    [options]="aceOptions" [readOnly]="false" [autoUpdateContent]="true"></div>
</div>