:host {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*
.node-labelcol {
  display: inline-block;
  width: 200px;
  flex-grow: 1;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
*/

.node {
  border-bottom: solid 1px #eee;
}

.node :hover {
  background: #8882;
}

/* .node-labelcol {
  flex-grow: unset;
} */

.node-labelcol-verif {
  width: 250px;
  flex-grow: unset;
}

.node-col {
  width: 100px;
  padding: .2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
}

.node-col1 {
  /* width: 250px; */
  background-color: #aaaa;
}

.node-col2 {
  /* width: 250px; */
  background-color: #a77a;
}