<div class="modal-header">
  <h4 class="modal-title" id="modal-text-title">{{ title }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="px-2" *ngIf="params.formData">
    <div class="row">
      <div class="column">
        <!-- Overall state -->
        <div class="form-group">
          <label
            ><span i18n="@@verification.modal.overall.state">Overall state:</span>
            <div class="ms-2 node-col-btn d-inline-block">
              <span [ngClass]="getClassFromVerificationState(params.formData.verificationOverallState)">
                {{ getVerificationShortState(params.formData.verificationOverallState) }}
              </span>
            </div>
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="form-group">
          <label i18n="@@verification.modal.verification.state" for="verificationComment">Verification state</label>
          <select
            class="custom-select"
            size="3"
            [(ngModel)]="params.formData.verificationState"
            name="verificationState"
            [disabled]="!canVerify() || isForcedNOK"
            ngbAutoFocus
          >
            <option
              *ngFor="let vsc of verificationStateConfigMap | keyvalue : verificationStateOrder"
              [value]="vsc.key"
              (dblclick)="onValidateClick()"
            >
              {{ vsc.value.label }}
            </option>
          </select>
          <small i18n="@@verification.modal.propnok.comment.warning" [ngClass]="classes.propNOKWarningClass"
            >The verification state is forced to NOK because one property is verified NOK.</small
          >
        </div>

        <div class="form-group">
          <label i18n="@@verification.modal.comment" for="verificationComment">Comment</label>
          <textarea
            class="form-control"
            rows="4"
            id="comment"
            [maxlength]="maxlength"
            placeholder=""
            [(ngModel)]="params.formData.verificationComment"
            name="verificationComment"
            [disabled]="!canVerify()"
          >
          </textarea>
          <small i18n="@@verification.modal.comment.warning" [ngClass]="classes.commentWarningClass"
            >A comment is mandatory in case of verification not OK.</small
          >
        </div>

        <div class="form-group">
          <label i18n="@@verification.modal.inputDocument" for="verificationInputDocument">Input document</label>
          <input
            type="text"
            class="form-control"
            id="verificationInputDocument"
            [maxlength]="maxlength"
            placeholder=""
            [(ngModel)]="params.formData.verificationInputDocument"
            name="verificationInputDocument"
            [disabled]="!canVerify()"
          />
        </div>

        <div class="form-group">
          <label for="verificationCR">CR</label>
          <input
            type="text"
            class="form-control"
            id="verificationCR"
            [maxlength]="maxlength"
            placeholder=""
            [(ngModel)]="params.formData.verificationCR"
            name="verificationCR"
            [disabled]="!canVerify()"
          />
        </div>
      </div>

      <div class="column">
        <div class="form-group">
          <label i18n="@@verification.modal.response.state" for="verificationResponseState">Response state</label>
          <select
            class="custom-select"
            size="3"
            [(ngModel)]="params.formData.verificationResponseState"
            name="verificationResponseState"
            [disabled]="!canAnswerVerify()"
          >
            <option
              *ngFor="let vrs of verificationResponseStateConfigMap | keyvalue : verificationStateOrder"
              [value]="vrs.key"
              (dblclick)="onValidateClick()"
            >
              {{ vrs.value.label }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label i18n="@@verification.modal.response.comment" for="verificationResponseComment">Response comment</label>
          <textarea
            class="form-control"
            rows="4"
            id="responseComment"
            [maxlength]="maxlength"
            placeholder=""
            [(ngModel)]="params.formData.verificationResponseComment"
            name="verificationResponseComment"
            [disabled]="!canAnswerVerify()"
          >
          </textarea>
          <small i18n="@@verification.modal.response.comment.warning" [ngClass]="classes.responseCommentWarningClass"
            >A comment is mandatory in case of verification response not OK</small
          >
        </div>

        <div class="form-group">
          <label i18n="@@verification.modal.response.check" for="verificationResponseCheck">Response check</label>
          <input
            type="text"
            class="form-control"
            id="verificationResponseCheck"
            [maxlength]="maxlength"
            placeholder=""
            [(ngModel)]="params.formData.verificationResponseCheck"
            name="verificationResponseCheck"
            [disabled]="!canVerify()"
          />
        </div>

        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="verificationCloseState"
            [(ngModel)]="params.formData.verificationCloseState"
            name="verificationCloseState"
          />
          <label i18n="@@verification.modal.closed.checkbox" class="form-check-label" for="verificationCloseState"
            >Closed state</label
          >
        </div>

        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="verificationCorrectionState"
            [(ngModel)]="params.formData.verificationCorrectionState"
            name="verificationCorrectionState"
            [disabled]="!canAnswerVerify()"
          />
          <label i18n="@@verification.modal.amended.checkbox" class="form-check-label" for="verificationCorrectionState"
            >Amended</label
          >
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <!-- Rules states -->
        <div class="form-group">
          <label
            ><span i18n="@@verification.modal.rules.state">Rules states:</span>
            <div *ngIf="params.formData.verificationRulesStateList" class="ms-2 node-col-btn d-inline-block">
              <span [ngClass]="getClassFromVerificationState(params.formData.verificationRulesState)">
                {{ getVerificationShortState(params.formData.verificationRulesState) }}
              </span>
            </div>
          </label>
          <div class="form-control rule-states">
            <ul class="rule-state-list" *ngIf="params.formData.verificationRulesStateList">
              <li class="rule-state-item" *ngFor="let vrs of params.formData.verificationRulesStateList">
                <div class="w12em">{{ vrs.verificationRuleName }}</div>
                <div class="w9em">{{ vrs.verificationRuleTimeStamp }}</div>
                <div class="w6em">{{ vrs.verificationRuleSeverity }}</div>
                <div class="w3em">
                  <span [ngClass]="getClassFromVerificationState(vrs.verificationRuleState)">
                    {{ getVerificationShortState(vrs.verificationRuleState) }}
                  </span>
                </div>
                <div class="">{{ vrs.verificationRuleComment }}</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="onValidateClick()"
    [disabled]="!(canVerify() || canAnswerVerify())"
  >
    {{ btnOKLabel }}
  </button>
  <button
    type="button"
    i18n="@@verification.modal.cancel"
    class="btn btn-outline-dark"
    (click)="activeModal.dismiss('cancel click')"
  >
    Cancel
  </button>
</div>
