:host {
  display: inherit;
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow: unset;
}

:host :hover {
  background: #8882;
}

.node-item {
  display: block;
  height: 2.2em;
  border-bottom: solid 1px #eee;
}

.node-item :hover {
  background: #8882;
}

.node-item-expanded {
  height: 4.4em;
}

.node-main-line {
  display: flex;
  flex-direction: row;
  height: 2.2em;
}

.node-second-line {
  display: flex;
  flex-direction: row;
  height: 2.2em;
}

.node {
  height: 2em;
}

.node-labelcol-compare {
  width: 36em;
  padding: 0.4em;
  flex-grow: unset;
  border-right: solid 1px #eee;
}

.node-labelcol-property-name {
  width: 18em;
  display: inline-block;
}

.node-labelcol-property-value {
  width: 10em;
  display: inline-block;
}

.ltt-prop {
  display: inline-block;
  width: 8em;
}

.node-columns {
  display: inherit;
}

.node-col {
  width: 6em;
  padding: 0.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* border-right: solid 1px #eee; */
}

.node-col-default {
  width: 3em;
  text-align: center;
}

/* .node-col-test {
  width: 3em;
  text-align: center;
} */

.node-col-type {
  width: 10em;
  text-align: center;
}

.type-label {
  display: block;
  width: 12em;
  padding: 0 0.2em;
  background-color: #ccc;
  border-radius: 3px;
  font-size: 0.9em;
}

.node-col-btn {
  width: 8em;
}

.node-col-btn-w3 {
  width: 3em;
}

.button {
  display: block;
  width: 7em;
  padding: 0 0.2em;
  background-color: #ccc;
  border-radius: 3px;
  text-align: center;
}

.button-active {
  color: var(--button-active-color);
  background-color: var(--button-active-background);
}

.button-active-gray {
  color: #fff;
  background-color: #888;
}

.button-active-ok {
  color: #fff;
  background-color: #070;
}

.button-active-nok {
  color: #fff;
  background-color: #700;
}

.gray-icon {
  color: #aaa;
  stroke: #aaa;
}

::ng-deep .tooltip-inner {
  max-width: 40em;
  text-align: left;
  /* background-color: #eee !important; */
  /* color: #000; */
  /* border-radius: 30px; */
  /* box-shadow: 0 0 3px #00000040; */
}

.compare-status {
  display: inline-block;
  width: 6em;
  padding: 0 0.2em;
  background-color: #ccc;
  border-radius: 3px;
  font-size: 0.9em;
  text-align: center;
}

.compare-status-new {
  background: var(--svg-status-red-background);
}

.compare-status-deleted {
  background: var(--svg-status-yellow-background);
}

.compare-status-equal {
}

.compare-status-modified {
  background: var(--svg-status-orange-background);
}

.compare-status-error {
  color: red;
}

.label {
  display: inline-block;
  width: 12em;
}

.value {
  display: inline-block;
  width: 12em;
  font-weight: bold;
}

.tag-value {
  display: inline-block;
  padding: 0 0.2em;
  background-color: #ccc;
  border-radius: 3px;
  text-align: center;
  font-size: 0.9em;
  padding: 0 0.5em;
}

.property-name {
  display: inline-block;
  width: 12em;

  padding: 0.25rem 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 0.2rem;
}

.property-value {
  display: inline-block;
  width: 12em;
  line-height: 1;

  padding: 0.25rem 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 0.2rem;
  background: #eee;
}
