<ng-template #nodeCollapseTemplate let-node="node" let-treeController="treeController">
  <div class="node-collapse">
    <div
      *ngIf="treeController && treeController.getChildrenNodesLength(node)"
      (mousedown)="treeController.onNodeIconClick($event, node)"
    >
      <fa-icon *ngIf="node.isCollapsed" icon="folder"></fa-icon>
      <fa-icon *ngIf="!node.isCollapsed" icon="folder-open"></fa-icon>
    </div>
  </div>
</ng-template>

<!-- Node item -->
<div [ngClass]="compareTreeItemService.getNodeItemClass(node)">
  <div class="node-main-line">
    <div class="node-labelcol node-labelcol-compare">
      <div class="node-indent" [ngStyle]="treeController ? treeController.getNodeIconStyle(node) : null"></div>

      <ng-template
        [ngTemplateOutlet]="nodeCollapseTemplate"
        [ngTemplateOutletContext]="{ node: node, treeController: treeController }"
      >
      </ng-template>

      <ng-template #objectTooltipTemplate>
        <div class="text-left">
          <div>Name: {{ treeController ? treeController.getNodeLabel(node) : null }}</div>
          <div>Type: {{ compareTreeItemService.getNodeObjectTypeDisplayedValue(node) }}</div>
        </div>
      </ng-template>

      <ng-template #propertyTooltipTemplate>
        <div class="text-left">
          <div>
            {{
              node.object && node.object.property
                ? node.object.property.displayedName + " = " + node.object.property.displayedValue
                : ""
            }}
          </div>
        </div>
      </ng-template>

      <div [ngClass]="treeController ? treeController.getNodeLabelClass(node) : null">
        <span
          *ngIf="node && node.object && !node.object.property"
          [ngbTooltip]="objectTooltipTemplate"
          container="body"
        >
          <span>
            {{ treeController ? treeController.getNodeLabel(node) : null }}
          </span>
        </span>

        <span
          *ngIf="node && node.object && node.object.property"
          [ngbTooltip]="propertyTooltipTemplate"
          container="body"
        >
          <div class="node-labelcol-property-name">
            {{ node.object && node.object.property ? node.object.property.displayedName : "&nbsp;" }}
          </div>
          <div class="node-labelcol-property-value">
            {{ node.object && node.object.property ? node.object.property.displayedValue : "&nbsp;" }}
          </div>
        </span>
      </div>
    </div>

    <div class="node-columns">
      <!-- <ng-container *ngIf="node && node.object && node.object.type === 'project'">
        <div *ngFor="let project of compareTreeItemService.getProjectList(node)" class="node-col w7em">
          {{ project.label }}
        </div>
      </ng-container> -->

      <ng-container *ngIf="node && node.object && node.object.type !== 'project'">
        <div *ngFor="let dataPerVersion of compareTreeItemService.getDataPerVersionList(node)" class="node-col w7em">
          <!-- Tooltip -->
          <ng-template #objectVersionTooltipTemplate>
            <div class="text-left compare-tooltip">
              <div>
                <span [ngClass]="dataPerVersion.compareDisplayData.style">{{
                  dataPerVersion.compareDisplayData.label
                }}</span>
                <span class="ms-2 font-weight-bold">
                  <!-- {{
                  treeController ? treeController.getNodeLabel(node) : null
                }} -->
                  {{ dataPerVersion.objectLabel }}
                </span>
                <span class="ms-2 font-weight-bold">({{ dataPerVersion.versionLabel }}) </span>
                <span class="ms-2 tag-value">{{ compareTreeItemService.getNodeObjectTypeDisplayedValue(node) }}</span>
              </div>
              <div class="mt-3" *ngIf="dataPerVersion.properties.length > 0">
                <div *ngFor="let property of dataPerVersion.properties">
                  <div>
                    <div class="property-name">{{ property.displayedName }}</div>
                    <div class="property-value yellow-color">
                      {{ property.displayedValueOld ? property.displayedValueOld : "&nbsp;" }}
                    </div>
                    <!-- &nbsp;<fa-icon icon="arrow-right"></fa-icon>&nbsp; -->
                    <div class="property-value red-color">
                      {{ property.displayedValue ? property.displayedValue : "&nbsp;" }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>

          <div
            *ngIf="dataPerVersion && dataPerVersion.compareDisplayData"
            [ngClass]="dataPerVersion.compareDisplayData.style"
            [ngbTooltip]="objectVersionTooltipTemplate"
            (mousedown)="onObjectInstanceClick($event, dataPerVersion)"
          >
            {{ dataPerVersion.compareDisplayData.shortLabel }}
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
