.node {
  /*margin-left: 5px;*/
}
/*
tr:hover {
  background: var(--active-background-2) !important;
}
*/
.node-indent {
  margin-right: 0.5em;
}

.node-collapse {
	cursor: pointer;
  margin-right: 0.4em;
  opacity: .6;
}

.node-label {
	cursor: pointer;
  display: inline;
}

.node-label :hover {
/*	background: var(--node-hover-background);*/
}

.node-children {
	margin: 0px 0px 0px 0px;
}

.node-selected {
  background: var(--active-background-2) !important;
}

/*
.node-selected {
	color: var(--node-active-color);
	background: var(--node-active-background);
}
*/

.table td, .table th {
  padding: .25rem;
}

.node-label-text {
  display: inline;
  width: 40em;
}

.node-value {
  cursor: pointer;
}

.node-value-first {
  display: inline-block;
  width: 14em;
}

.table {
  font-size: 0.9em;
}

.node-value-default {
  display: inline-block;
}

.node-value-label {
/*
  display: inline-block;
  width:10em;
*/
}

.node-value-type {
  display: inline-block;
  width: 6em;
  padding: 0px 5px;
  text-align: center;
  border-radius: 3px;
  font-size: 90%;
}

.node-value-ts-90p {
  font-size: 90%;
}

.node-value-span {
}
