<div>
  <!-- Rack line -->
  <div class="rack-line">
    <ng-template #rackNodeTooltip>
      <app-verification-tooltip [ttData]="getVerificationTooltipData(node)"></app-verification-tooltip>
    </ng-template>
    <div
      [id]="getNodeId(node)"
      [ngClass]="getNodeClass(node)"
      (mousedown)="onNodeMouseDown($event, node)"
      (contextmenu)="onNodeRightClick($event, node)"
      [ngbTooltip]="rackNodeTooltip"
      container="body"
    >
      {{ node ? node.label : "?" }}
    </div>
  </div>

  <!-- Rack table -->
  <table class="rack-table" (mousedown)="onNodeMouseDown($event, null)" (contextmenu)="onNodeRightClick($event, null)">
    <tr>
      <th>Slot number</th>
      <th *ngFor="let slot of slotList">Slot {{ slot.slotIndex }}</th>
    </tr>
    <tr>
      <th>Board type</th>
      <ng-container *ngFor="let slot of slotList; slotIndex as i">
        <th *ngIf="!slot.isMergedSlot" [attr.colspan]="slot.colspan" [attr.rowspan]="slot.rowspan">
          <ng-container
            [ngTemplateOutlet]="slotTemplate"
            [ngTemplateOutletContext]="{ slot: slot, boardNode: slot.boardNode, treeController: treeController }"
          >
          </ng-container>
        </th>
      </ng-container>
    </tr>
    <tr *ngFor="let cellIndex of cellIndexList">
      <td>Cell {{ cellIndex }}</td>
      <ng-container *ngFor="let slot of slotList; slotIndex as i">
        <td
          *ngIf="!slot.isMergedSlot && slot.rowspan === '1'"
          [attr.colspan]="slot.colspan"
          [ngClass]="{ 'not-used-cell': !slot.boardNode }"
        >
          <ng-container
            [ngTemplateOutlet]="cellTemplate"
            [ngTemplateOutletContext]="getBoardCellNodeContext(slot, cellIndex)"
          >
          </ng-container>
        </td>
      </ng-container>
    </tr>
  </table>
</div>

<!-- slotTemplate -->
<ng-template #slotTemplate let-slot="slot" let-boardNode="boardNode" let-treeController="treeController">
  <ng-container>
    <ng-template #boardNodeTooltip>
      <app-verification-tooltip
        *ngIf="boardNode"
        [ttData]="getVerificationTooltipData(boardNode)"
      ></app-verification-tooltip>
    </ng-template>
    <div
      [id]="getNodeId(boardNode)"
      [ngClass]="getNodeClass(boardNode)"
      (mousedown)="onNodeMouseDown($event, boardNode)"
      (contextmenu)="onNodeRightClick($event, boardNode)"
      [ngbTooltip]="boardNodeTooltip"
      container="body"
    >
      <div *ngIf="slot.label === slot.labelPrevious">{{ slot.label }}</div>
      <div *ngIf="slot.label !== slot.labelPrevious">
        <span class="yellow-color"> {{ slot.labelPrevious }}</span
        ><span>&nbsp;<fa-icon icon="arrow-right"></fa-icon>&nbsp;</span><span class="red-color">{{ slot.label }}</span>
      </div>
    </div>
  </ng-container>
</ng-template>

<!-- cellTemplate -->
<ng-template
  #cellTemplate
  let-cellData="cellData"
  let-slot="cellData.slot"
  let-boardNode="cellData.boardNode"
  let-cellNode="cellData.cellNode"
  let-ioVariableNode="cellData.ioVariableNode"
  let-treeController="treeController"
>
  <ng-container>
    <ng-template #ioVariableNodeTooltip>
      <app-verification-tooltip
        *ngIf="ioVariableNode"
        [ttData]="getVerificationTooltipData(ioVariableNode)"
      ></app-verification-tooltip>
    </ng-template>

    <div
      [id]="getNodeId(ioVariableNode)"
      [ngClass]="getNodeClass(ioVariableNode)"
      (mousedown)="onNodeMouseDown($event, ioVariableNode)"
      (contextmenu)="onNodeRightClick($event, ioVariableNode)"
      [ttNode]="ioVariableNode"
      [ngbTooltip]="ioVariableNodeTooltip"
      container="body"
    >
      <div *ngIf="cellData.label === cellData.labelPrevious">{{ cellData.label }}</div>
      <div *ngIf="cellData.label !== cellData.labelPrevious">
        <span class="yellow-color"> {{ cellData.labelPrevious }}</span
        ><span>&nbsp;<fa-icon icon="arrow-right"></fa-icon>&nbsp;</span
        ><span class="red-color">{{ cellData.label }}</span>
      </div>
    </div>
  </ng-container>
</ng-template>
