<div class="top-panel" 
  [style.marginLeft.px]="left" [style.marginTop.px]="top"
  (mouseenter)="setIsMouseOver(true)" (mouseleave)="setIsMouseOver(false)"
>
  <span class="top-panel-header" (mousedown)="onMouseDown($event)">
    <div class="d-inline">
      <fa-icon [icon]="(getIsVisible() ? 'chevron-right' : 'chevron-up')"></fa-icon>
    </div>
  </span>
  <span class="top-panel-content" [ngbCollapse]="!getIsVisible()">
    <ng-container *ngTemplateOutlet="template; context: { data: data }"></ng-container>
  </span>
</div>
