<ng-template #nodeCollapseTemplate let-node="node" let-treeController="treeController">
  <div class="node-collapse" >
    <div *ngIf="treeController && treeController.getChildrenNodesLength(node)" (mousedown)="treeController.onNodeIconClick($event, node)">
      <fa-icon *ngIf="node.isCollapsed" icon="folder"></fa-icon>
      <fa-icon *ngIf="!node.isCollapsed" icon="folder-open"></fa-icon>
    </div>
  </div>
</ng-template>

<!-- Node item -->
<div [ngClass]="getNodeItemClass(node)" >
  <div class="node-main-line">
    <div class="node-labelcol node-labelcol-verif">
      <div 
        class="node-indent"
        [ngStyle]="treeController ? treeController.getNodeIconStyle(node) : null"
      >
      </div>

      <ng-template 
        [ngTemplateOutlet]="nodeCollapseTemplate"
        [ngTemplateOutletContext]="{ node: node, treeController: treeController }"
      >
      </ng-template>

      <ng-template #labelTooltipTemplate>
        <div class="text-left">
          <div>Name: {{ treeController ? treeController.getNodeLabel(node) : null }}</div>
          <div>Type: {{ getNodeObjectTypeDisplayedValue(node) }}</div>
          <div>KP: {{ getNodeObjectDisplayedValue(node, "absPos", "", " (m)") }}</div>
        </div>
      </ng-template>

      <div
        [ngClass]="treeController ? treeController.getNodeLabelClass(node): null"
        [ngbTooltip]="labelTooltipTemplate" container="body" 
      >
        <span>
          {{ treeController ? treeController.getNodeLabel(node) : null }}
        </span>
      </div>

      <div *ngIf="node && node.icons" class="node-icons d-inline">
        <span *ngFor="let icon of node.icons">
          <fa-icon [icon]="icon.icon"></fa-icon>
        </span>
      </div>

    </div>

    <div class="node-columns">
      <!-- Col: type -->
      <div class="node-col node-col-type">
        <div class="type-label"
          [ngbTooltip]="'Object type'"
        >
          {{ getTypeShortFormat(node) }}
        </div>
      </div>
    </div>

    <div class="node-actions-panel">
      <ng-container *ngIf="node && node.isNodeHover">
        <span *ngFor="let action of node.actions"
          class="action-icon" 
          [ngbTooltip]="action.tooltip(node)" 
          (click)="action.click(node)"
        >
          <fa-icon [icon]="action.icon(node)"></fa-icon>
        </span>
      </ng-container>
    </div>
  </div>

</div>
