.panel-title {
  background: var(--tool-bar-background);
  padding: 0.2em 0.6em;
}

.layer {
  padding: 0em 0.6em;
  cursor: pointer;
}

.layer-btn {
  color: #aaa;
  width: 1.15em;
  display: inline-block;
}

.active {
  color: var(--active-color);
}

.btn-close {
  color: #999;
  margin-left: 5px;
  cursor: pointer;
}

.btn-right {
  padding-right: 10px;
  float: right;
}

.cbox {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0em 0.3em;
}

.cbox-color {
  border-color: #aaa;
  border-width: thin;
  border-style: solid;
}

.seperation-layer {
  display: inline-block;
  height: 0.5em;
  line-height: 0.5em;
}

.layer-red-1 {
  background-color: var(--svg-red-color-1);
}

.layer-yellow-1 {
  background-color: var(--svg-yellow-color-1);
}

.layer-red-2 {
  background-color: var(--svg-red-color-2);
}

.layer-yellow-2 {
  background-color: var(--svg-yellow-color-2);
}

.layer-red-3 {
  background-color: var(--svg-red-color-3);
}

.layer-yellow-3 {
  background-color: var(--svg-yellow-color-3);
}

.layer-red-4 {
  background-color: var(--svg-red-color-4);
}

.layer-yellow-4 {
  background-color: var(--svg-yellow-color-4);
}
