<div class="panel">
  <div class="panel-title">
    <span i18n="@@svg.layer.panel.layers">Layers</span>
  </div>
  <div>
    <ng-container *ngFor="let layer of layerOptions ? layerOptions.layers : []">
      <div *ngIf="layer.label !== '-' && layer.isDisplayed" class="layer">
        <span class="layer-btn me-1" [class.active]="layer.isVisible != false" (click)="onLayerVisibleClick(layer)">
          <fa-icon icon="eye"></fa-icon>
        </span>
        <span>
          <!-- <div class="cbox cbox-color"></div> -->
          <div [class]="getLayerColorBoxClass(layer)"></div>
        </span>
        <span [ngbTooltip]="layer.label">{{ layer.label }}</span>
      </div>
      <div *ngIf="layer.label === '-'" class="seperation-layer">&nbsp;</div>
    </ng-container>
  </div>
</div>
