<div class="d-block" style="height: 0px">
  <svg #svgGlobal>
    <defs>
      <pattern id="crosshatch" patternUnits="userSpaceOnUse" width="10" height="10">
        <image
          xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc4JyBoZWlnaHQ9JzgnPgogIDxyZWN0IHdpZHRoPSc4JyBoZWlnaHQ9JzgnIGZpbGw9JyNmZmYnLz4KICA8cGF0aCBkPSdNMCAwTDggOFpNOCAwTDAgOFonIHN0cm9rZS13aWR0aD0nMC41JyBzdHJva2U9JyNhYWEnLz4KPC9zdmc+Cg=="
          x="5"
          y="5"
          width="5"
          height="5"
        ></image>
      </pattern>
      \

      <pattern id="crosses" patternUnits="userSpaceOnUse" x="0" y="0" width="10" height="10">
        <line x1="0" y1="0" x2="5" y2="5" stroke-width="1" stroke="red" />
        <line x1="5" y1="0" x2="0" y2="5" stroke-width="1" stroke="red" />
      </pattern>

      <pattern id="smallGrid" width="10" height="10" patternUnits="userSpaceOnUse">
        <path d="M 10 0 L 0 0 0 10" class="small-grid" />
      </pattern>
      <pattern id="grid" width="50" height="50" patternUnits="userSpaceOnUse">
        <rect width="50" height="50" fill="url(#smallGrid)" />
        <path d="M 50 0 L 0 0 0 50" class="grid" />
      </pattern>

      <g id="def-selection-handle">
        <rect x="-5" y="-5" width="10" height="10" style="stroke-width: 2; fill: white" opacity="0.6" />
      </g>

      <g id="def-translate-handle">
        <rect x="-5" y="-5" width="10" height="10" style="stroke-width: 2; fill: white" opacity="0.6" />
      </g>
      <g id="def-size-handle">
        <rect x="-4" y="-4" width="8" height="8" style="stroke-width: 2; fill: white" opacity="0.6" />
      </g>
      <g id="def-rotate-handle">
        <circle cx="0" cy="0" r="6" style="stroke-width: 2; fill: green" opacity="0.6" />
      </g>
      <g id="def-polyline-handle">
        <circle cx="0" cy="0" r="5" style="stroke-width: 2; fill: white" opacity="0.6" />
      </g>
      <g id="def-path-handle">
        <circle cx="0" cy="0" r="5" style="stroke-width: 2; fill: white" opacity="0.6" />
      </g>
      <g id="def-ray-polyline-handle">
        <circle cx="0" cy="0" r="5" style="stroke-width: 2; fill: white" opacity="0.6" />
      </g>
      <g id="def-mapping-handle">
        <circle cx="0" cy="0" r="6" style="stroke-width: 2; fill: pink" opacity="0.6" />
      </g>
      <g id="def-toggle-handle">
        <rect x="-5" y="5" width="10" height="10" style="stroke-width: 2; fill: white" opacity="0.6" />
        <path d="M-3 10 h6 M0 7 v6" style="stroke-width: 2; fill: none" />
      </g>
      <g id="def-link-handle">
        <rect x="-5" y="-5" width="10" height="10" style="stroke-width: 2; fill: #0f0" opacity="0.6" />
      </g>
      <g id="def-plus-handle">
        <rect x="-5" y="-20" width="15" height="15" style="stroke-width: 2; fill: white" opacity="0.6" />
        <text x="-4" y="-7" style="stroke-width: 1; stroke: #000; fill: #000">+</text>
      </g>
      <g id="def-verification-handle">
        <text x="-4" y="20" style="stroke-width: 1; stroke: #00a; fill: #00a">V</text>
      </g>

      <g id="def-sel-rect">
        <rect x="0" y="0" width="100" height="100" style="stroke-width: 2; fill: red" opacity="0.6" />
      </g>

      <!-- <g id="def-warning" transform="translate(0 0) scale(.08 .08) ">
        <path style="fill:#010002;" d="M21.617,290.246h277.604c9.469,0,17.013-4.553,20.168-12.184c2.904-7.011,1.36-14.8-4.107-21.212
          L180.497,39.684l-1.333-1.333c-5.009-5.009-11.667-7.767-18.748-7.767c-7.082,0-13.739,2.758-18.743,7.767l-1.333,1.333
          L5.55,256.844c-5.466,6.413-7.016,14.207-4.106,21.212C4.603,285.688,12.142,290.246,21.617,290.246z M160.416,69.213
          l116.934,188.393H43.487L160.416,69.213z"/>
        <path style="fill:#010002;" d="M160.416,105.345c-9.197,0-16.654,7.457-16.654,16.654v71.388c0,9.197,7.457,16.654,16.654,16.654
          s16.654-7.457,16.654-16.654v-71.388C177.076,112.802,169.619,105.345,160.416,105.345z"/>
        <circle style="fill:#010002;" cx="160.248" cy="234.903" r="16.486"/>
      </g>

      <g id="def-pin-1">
        <circle cx="0" cy="0" r="3" style="stroke-width:2;stroke:#000;fill:#000;" ></circle>
      </g>
      <g id="def-pin-2">
        <circle cx="0" cy="0" r="3" style="stroke-width:2;stroke:#000;fill:#fff;" ></circle>
      </g>
      <g id="def-test-1">
        <circle cx="0" cy="0" r="16" style="stroke-width:2;fill:pink;" ></circle>
      </g> 

      <g id="def-port-1">
        <circle cx="0" cy="0" r="6" style="stroke-width:2;stroke:#000;fill:#000;" ></circle>
      </g>    -->
    </defs>
  </svg>
</div>
