:host {
  display: block;
  width: 100%;
  height: 100%;
}

.main-page-content {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.workspace {
  display: block;
  width: 100%;
  height: calc(100% - (var(--status-bar-height) + var(--app-top-bar-height)));
  margin-top: var(--app-top-bar-height);
}

