<div class="node-labelcol">
  <div class="node-indent" [ngStyle]="treeController.getNodeIconStyle(node)"></div>

  <ng-template
    [ngTemplateOutlet]="treeController.getTheDefaultNodeCollapseTemplate()"
    [ngTemplateOutletContext]="{ node: node }"
  >
  </ng-template>

  <div
    [ngClass]="treeController.getNodeLabelClass(node)"
    [ngbTooltip]="treeController.getNodeTooltip(node)"
    container="body"
  >
    <div *ngIf="!(node && node.isModified && options.isRedAndYellowDisplayed)" class="d-inline">
      {{ node ? node.label : "?" }}
    </div>
    <ng-container *ngIf="node && node.isModified && options.isRedAndYellowDisplayed">
      <div *ngIf="node.compareState === 'modified'" class="d-inline">
        <span class="yellow-color"> {{ node.labelPrevious }}</span
        ><span>&nbsp;<fa-icon icon="arrow-right"></fa-icon>&nbsp;</span><span class="red-color">{{ node.label }}</span>
      </div>
      <div *ngIf="node.compareState === 'new'" class="d-inline">
        <span class="red-color"> {{ node.label }}</span>
      </div>
      <div *ngIf="node.compareState === 'deleted'" class="d-inline">
        <span class="yellow-color"> {{ node.label }}</span>
      </div>
    </ng-container>
  </div>
</div>
