<app-generic-tool-bar [parent]="this" [toolBarActions]="viewActionsService.toolBarActions"></app-generic-tool-bar>
<app-generic-context-menu
  appendTo="body"
  #mainContextMenu
  [parent]="this"
  [contextMenuActions]="viewActionsService.contextMenuActions"
></app-generic-context-menu>

<ng-template #tooltipTemplateVerification let-svgObject="svgObject">
  <app-verification-tooltip [ttData]="getVerificationTooltipData(svgObject)"></app-verification-tooltip>
</ng-template>

<div class="view-content">
  <as-split direction="horizontal" gutterSize="viewService.config.gutterSize">
    <as-split-area size="80">
      <app-svg-diagram #mainSvgDiagram></app-svg-diagram>
    </as-split-area>
    <as-split-area size="20" *ngIf="options.isSidePanelVisible">
      <div #rightPanel class="right-panel">
        <div>
          <app-svg-diagram-layer-panel
            [layerOptions]="getLayerOptions()"
            (layerChangedEvent)="layerChangedEvent(layerOptions)"
          ></app-svg-diagram-layer-panel>
        </div>
      </div>
    </as-split-area>
  </as-split>
</div>
