<div [ngClass]="{'panel-tabs-v': isOrientedVertical(), 'panel-tabs-left': !isRightPanel(), 'panel-tabs-right': isRightPanel() }">
  <a (click)="viewService.toggleColumn(splitArea)">
    <span class="btn-toggle">
      <fa-icon [icon]="splitArea && splitArea.visible === isRightPanel() ? 'chevron-right' : 'chevron-left'"></fa-icon>
    </span>
  </a>
  <ng-container *ngIf="splitArea">
    <ng-template ngFor let-subSplitArea [ngForOf]="splitArea.splitAreas" let-iSubSplitArea="index">
      <div *ngFor="let view of subSplitArea.config.views"
        [ngClass]="{'tab tab-v': true, 'tab-l': !isRightPanel(), 'tab-r': isRightPanel() }"
        [class.active]="subSplitArea.visible && subSplitArea.config.selectedView === view"
        (click)="viewService.toggleView(splitArea, subSplitArea, view)"
        >
        <span>
          <fa-icon [icon]="view.icon || 'cog'"></fa-icon>
        </span>
      </div>
    </ng-template>
  </ng-container>
</div>