<ng-container *ngIf="ttData">
  <!-- <div> -->
  <div class="tt-label">{{ ttData.label }}</div>
  <div class="tt-type">{{ ttData.type }}</div>
  <div *ngIf="ttData.projectName" class="tt-project-name">{{ ttData.projectName }}</div>

  <!-- </div> -->
  <div class="tt-tobeverified">{{ ttData.verificationToBeVerified ? "To be verified" : "" }}</div>

  <ng-container *ngIf="ttData.verificationToBeVerified">
    <div
      [ngClass]="{
        'tt-verif-state': true,
        'tt-active-ok': ttData.verificationState === 'Verified OK',
        'tt-active-nok': ttData.verificationState === 'Verified NOK'
      }"
    >
      {{ ttData.verificationState }}
    </div>
    <div class="tt-content">
      <div *ngIf="ttData.verificationComment">
        <div class="tt-header">Comment:</div>
        <div>{{ ttData.verificationComment }}</div>
      </div>
      <div *ngIf="ttData.verificationCR">
        <div class="tt-header">CR:</div>
        <div>{{ ttData.verificationCR }}</div>
      </div>
    </div>
  </ng-container>
</ng-container>
