<app-svg-diagram-tooltip #svgTooltipComponent></app-svg-diagram-tooltip>
<div
  #svgContainer
  class="svg-container"
  (pinchstart)="onPinchStart($event)"
  (pinchend)="onPinchEnd($event)"
  (pinch)="onPinch($event)"
  (panstart)="onPanStart($event)"
  (panend)="onPanEnd($event)"
  (panmove)="onPan($event)"
></div>
<!-- 
  (pinchstart)="onPinchStart($event)"
  (pinchend)="onPinchEnd($event)"
  (pinch)="onPinch($event)"


(dblclick)="onHammerEvent($event)"
(swipeup)="onHammerEvent($event)"
(swipedown)="onHammerEvent($event)"
(swiperight)="onHammerEvent($event)"
(swipeleft)="onHammerEvent($event)"
(pinch)="onHammerEvent($event)"
(pinchstart)="onHammerEvent($event)"
(pinchmove)="onHammerEvent($event)"
(pinchend)="onHammerEvent($event)"
(pinchcancel)="onHammerEvent($event)"
(pinchin)="onHammerEvent($event)"
(pinchout)="onHammerEvent($event)" -->

<div #svgCompareContainer class="svg-compare-container"></div>
