.panel-title {
  background: var(--tool-bar-background);
  padding: 0.2em 0.6em;
}

.filter {
  padding: 0em 0.6em;
  cursor: pointer;
}

.filter-btn {
  color: #aaa;
  width: 1.15em;
  display: inline-block;
}

.active {
  color: var(--active-color);
}

.btn-close {
  color: #999;
  margin-left: 5px;
  cursor: pointer;
}

.btn-right {
  padding-right: 10px;
  float: right;
}
