:host {
}

.top-button {
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
  background: #aaa;
  padding-top: .25rem;
  z-index: 1;
  border-radius: 2rem;
  width: 2em;
  height: 2em;
  text-align: center;
}

.btn-pin {
  font-size: .8rem;
  padding: 0px;
}

.btn-top-panel {
  padding: 0px 4px;
}

