:host {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.graphic-container {
  width: 100%;
  height: 100%;
}

.verif-tooltip {
  text-align: left;
}

.tt-label {
  font-weight: bold;
  margin: 0.25em;
}

.tt-type {
  background-color: #ccc;
  border-radius: 3px; 
  padding: 0em .5em;
  margin: 0.25em;
}

.tt-state {
  background-color: #7a77;
  border-radius: 3px; 
  padding: 0em .5em;
  margin: 0.25em;
}

.tt-verif-state {
  background-color: #888;
  color: #fff;
  border-radius: 3px; 
  padding: 0em .5em;
  margin: 0.25em;
}

.tt-content {
  text-align: left;
}

.tt-header {
  font-weight: bold;
}

.tt-active-gray {
  color: #fff;
  background-color: #888;
}

.tt-active-ok {
  color: #fff;
  background-color: #070;
}

.tt-active-nok {
  color: #fff;
  background-color: #700;
}