<app-generic-tool-bar [parent]="this" [toolBarActions]="viewActionsService.toolBarActions"></app-generic-tool-bar>
<app-generic-context-menu appendTo="body" #mainContextMenu [parent]="this" [contextMenuActions]="viewActionsService.contextMenuActions"></app-generic-context-menu>

<!-- Verification tooltip -->
<ng-template #toolTipTemplateVerification let-svgObject="svgObject">
  <ng-container *ngIf="getVerificationTooltipData(svgObject) as ttData">
    <div>
      <span class="tt-label">{{ ttData.label }}</span>
      <span class="tt-type">{{ ttData.type }}</span>
    </div>
    <!-- <div>{{ ttData.verificationToBeVerified ? "To be verified" : "" }}</div> -->
    <ng-container *ngIf="ttData.verificationState">
      <div [ngClass]="{ 'tt-verif-state': true, 
        'tt-active-ok':ttData.verificationState === 'Verified OK', 
        'tt-active-nok':ttData.verificationState === 'Verified NOK' }">{{ ttData.verificationState }}</div>
      <div class="tt-content">
        <div *ngIf="ttData.verificationComment">
          <div class="tt-header">Comment:</div>
          <div>{{ ttData.verificationComment }}</div>
        </div>
        <div *ngIf="ttData.verificationCR">
          <div class="tt-header">CR:</div>
          <div>{{ ttData.verificationCR }}</div>
        </div>
      </div>  
    </ng-container>
  </ng-container>
</ng-template>

<div class="view-content" (dragover)="onDragOver($event)" (drop)="onDrop($event)">

  <app-diagram #mainDiagram></app-diagram>

<!-- 
  <as-split direction="horizontal" gutterSize="viewService.config.gutterSize">
    <as-split-area size="80">
      <app-diagram #mainDiagram></app-diagram>
    </as-split-area>
    <as-split-area size="20" *ngIf="options.isSidePanelVisible">
      <div #rightPanel class="right-panel">
        <div>
          <app-layer-panel [layerOptions]="getLayerOptions()" (layerChangedEvent)="layerChangedEvent(layerOptions)">
          </app-layer-panel>
        </div>
      </div>
    </as-split-area>
  </as-split> 
-->
</div>


