<ng-template #nodeCollapseTemplate let-node="node" let-treeController="treeController">
  <div class="node-collapse">
    <div
      *ngIf="treeController && treeController.getChildrenNodesLength(node)"
      (mousedown)="treeController.onNodeIconClick($event, node)"
    >
      <fa-icon *ngIf="node.isCollapsed" icon="folder"></fa-icon>
      <fa-icon *ngIf="!node.isCollapsed" icon="folder-open"></fa-icon>
    </div>
  </div>
</ng-template>

<!-- Node item -->
<div [ngClass]="verificationTreeItemService.getNodeItemClass(node)">
  <div class="node-main-line">
    <div class="node-labelcol node-labelcol-verif">
      <div class="node-indent" [ngStyle]="treeController ? treeController.getNodeIconStyle(node) : null"></div>

      <ng-template
        [ngTemplateOutlet]="nodeCollapseTemplate"
        [ngTemplateOutletContext]="{ node: node, treeController: treeController }"
      >
      </ng-template>

      <ng-template #objectTooltipTemplate>
        <div class="text-left">
          <div>Name: {{ treeController ? treeController.getNodeLabel(node) : null }}</div>
          <div>Type: {{ verificationTreeItemService.getNodeObjectTypeDisplayedValue(node) }}</div>
        </div>
      </ng-template>

      <ng-template #propertyTooltipTemplate>
        <div class="text-left">
          <div>
            {{
              node.object && node.object.property
                ? node.object.property.displayedName + " = " + node.object.property.displayedValue
                : ""
            }}
          </div>
        </div>
      </ng-template>

      <div [ngClass]="treeController ? treeController.getNodeLabelClass(node) : null">
        <span
          *ngIf="node && node.object && !node.object.property"
          [ngbTooltip]="objectTooltipTemplate"
          container="body"
        >
          <span>
            {{ treeController ? treeController.getNodeLabel(node) : null }}
          </span>
        </span>

        <span
          *ngIf="node && node.object && node.object.property"
          [ngbTooltip]="propertyTooltipTemplate"
          container="body"
        >
          <div class="node-labelcol-property-name">
            {{ node.object && node.object.property ? node.object.property.displayedName : "" }}
          </div>
          <div class="node-labelcol-property-value">
            {{ node.object && node.object.property ? node.object.property.displayedValue : "" }}
          </div>
        </span>
      </div>
    </div>

    <div class="node-columns">
      <!-- Col: type -->
      <div class="node-col node-col-type" *ngIf="options && options.isTypeDisplayed" [ngbTooltip]="'Object type'">
        <div class="type-label">
          {{ verificationTreeItemService.getTypeShortFormat(node) }}
        </div>
      </div>

      <!-- verif data columns -->
      <!-- Menu (for tablet)-->
      <div class="node-col node-col-btn w2em">
        <div
          *ngIf="verificationTreeItemService.isVerificationDataVisible(node)"
          [ngbTooltip]="translateService.translateFromMap('Verification menu')"
          (click)="verificationTreeItemService.onVerificationMenuBtnClick($event, node)"
          class="gray-icon"
        >
          <fa-icon icon="bars"></fa-icon>
        </div>
      </div>

      <!-- Overall State -->
      <div class="node-col node-col-btn w4em">
        <div
          *ngIf="verificationTreeItemService.isVerificationDataVisible(node)"
          [ngClass]="verificationTreeItemService.getVerificationOverallStateClass(node)"
          [ngbTooltip]="translateService.translateFromMap('Verification overall state')"
          (click)="
            verificationTreeItemService.canVerify()
              ? verificationTreeItemService.onVerificationStateBtnClick($event, node)
              : null
          "
        >
          {{ verificationTreeItemService.getVerificationOverallStateShortDisplayValue(node) }}
        </div>
      </div>

      <!-- Rules State -->
      <ng-template #ruleStateTooltipTemplate>
        <div class="text-left">
          <div class="rule-state">
            <div class="d-inline-block me-2">Rule state:</div>
            <div class="node-col-btn d-inline-block">
              <span [ngClass]="verificationTreeItemService.getVerificationRulesStateClass(node)">
                {{ verificationTreeItemService.getVerificationRulesStateShortDisplayValue(node) }}
              </span>
            </div>
          </div>
          <div *ngIf="verificationTreeItemService.getVerificationRulesStateList(node)">
            <ul
              class="rule-state-list"
              *ngFor="let vrs of verificationTreeItemService.getVerificationRulesStateList(node)"
            >
              <li class="rule-state-item">
                <div class="w12em">{{ vrs.verificationRuleName }}</div>
                <!-- <div class="w10em">{{ vrs.verificationRuleTimeStamp }}</div>
                <div class="w6em">{{ vrs.verificationRuleSeverity }}</div> -->
                <!-- <div class="w10em">{{ vrs.verificationRuleState }}</div> -->
                <div class="w4em">
                  <span
                    [ngClass]="verificationTreeItemService.getClassFromVerificationState(vrs.verificationRuleState)"
                  >
                    {{ verificationTreeItemService.getVerificationShortState(vrs.verificationRuleState) }}
                  </span>
                </div>
                <div class="text-truncate">{{ vrs.verificationRuleComment }}</div>
              </li>
            </ul>
          </div>
        </div>
      </ng-template>

      <div class="node-col node-col-btn w4em">
        <div
          *ngIf="verificationTreeItemService.isVerificationDataVisible(node)"
          [ngClass]="verificationTreeItemService.getVerificationRulesStateClass(node)"
          [ngbTooltip]="ruleStateTooltipTemplate"
          (click)="
            verificationTreeItemService.canVerify()
              ? verificationTreeItemService.onVerificationStateBtnClick($event, node)
              : null
          "
        >
          {{ verificationTreeItemService.getVerificationRulesStateShortDisplayValue(node) }}
        </div>
      </div>

      <!-- Col: to be verified -->
      <div class="node-col node-col-btn w4em">
        <div
          *ngIf="verificationTreeItemService.isVerificationDataVisible(node)"
          [ngClass]="{
            'button w3em': true,
            'button-active-gray': modelVerificationService.getObjectIsToBeVerifiedValue(node.object)
          }"
          [ngbTooltip]="translateService.translateFromMap('To be verified status')"
          (click)="
            verificationTreeItemService.canVerify()
              ? verificationTreeItemService.onToBeVerifiedBtnClick($event, node)
              : null
          "
          [disabled]="!verificationTreeItemService.canVerify()"
        >
          <fa-icon *ngIf="modelVerificationService.getObjectIsToBeVerifiedValue(node.object)" icon="tasks"></fa-icon>
          <span *ngIf="!modelVerificationService.getObjectIsToBeVerifiedValue(node.object)">-</span>
        </div>
      </div>

      <div class="node-col node-col-btn w4em">
        <div
          *ngIf="verificationTreeItemService.isVerificationDataVisible(node)"
          [ngClass]="verificationTreeItemService.getVerificationStateClass(node)"
          [ngbTooltip]="translateService.translateFromMap('Verification state')"
          (click)="
            verificationTreeItemService.canVerify()
              ? verificationTreeItemService.onVerificationStateBtnClick($event, node)
              : null
          "
        >
          {{ verificationTreeItemService.getVerificationStateShortDisplayValue(node) }}
        </div>
      </div>

      <div class="node-col node-col-btn">
        <div
          *ngIf="verificationTreeItemService.getVerificationToBeVerifiedValue(node)"
          [ngbTooltip]="
            translateService.translateFromMap('Verification comment') +
            ': ' +
            verificationTreeItemService.getVerificationStringDisplayValue(node, 'verificationComment')
          "
        >
          {{ verificationTreeItemService.getVerificationStringDisplayValue(node, "verificationComment") }}
        </div>
      </div>

      <div class="node-col node-col-btn">
        <div
          *ngIf="verificationTreeItemService.getVerificationToBeVerifiedValue(node)"
          [ngbTooltip]="translateService.translateFromMap('Input Document')"
        >
          {{ verificationTreeItemService.getVerificationStringDisplayValue(node, "verificationInputDocument") }}
        </div>
      </div>

      <div class="node-col node-col-btn">
        <div
          *ngIf="verificationTreeItemService.getVerificationToBeVerifiedValue(node)"
          [ngbTooltip]="translateService.translateFromMap('Verification CR')"
        >
          {{ verificationTreeItemService.getVerificationStringDisplayValue(node, "verificationCR") }}
        </div>
      </div>

      <div class="node-col node-col-btn w10em">
        <div
          *ngIf="verificationTreeItemService.getVerificationDateDisplayValue(node)"
          [ngbTooltip]="translateService.translateFromMap('Verification date & user')"
        >
          {{ verificationTreeItemService.getVerificationUserDisplayValue(node) }} ({{
            verificationTreeItemService.getVerificationDateDisplayValue(node) | date : "shortDate"
          }})
        </div>
      </div>

      <div class="node-col node-col-btn w4em">
        <div
          *ngIf="verificationTreeItemService.getVerificationToBeVerifiedValue(node)"
          [ngClass]="verificationTreeItemService.getVerificationResponseStateClass(node)"
          [ngbTooltip]="translateService.translateFromMap('Response State')"
          (click)="
            verificationTreeItemService.canAnswerVerify()
              ? verificationTreeItemService.onVerificationStateBtnClick($event, node)
              : null
          "
        >
          {{ verificationTreeItemService.getVerificationResponseStateShortDisplayValue(node) }}
        </div>
      </div>

      <div class="node-col node-col-btn">
        <div
          *ngIf="verificationTreeItemService.getVerificationToBeVerifiedValue(node)"
          [ngbTooltip]="translateService.translateFromMap('Response Comment')"
        >
          {{ verificationTreeItemService.getVerificationStringDisplayValue(node, "verificationResponseComment") }}
        </div>
      </div>

      <div class="node-col node-col-btn">
        <div
          *ngIf="verificationTreeItemService.getVerificationToBeVerifiedValue(node)"
          [ngbTooltip]="translateService.translateFromMap('Response Check')"
        >
          {{ verificationTreeItemService.getVerificationStringDisplayValue(node, "verificationResponseCheck") }}
        </div>
      </div>

      <div class="node-col node-col-btn w8em">
        <div
          *ngIf="
            ['OK', 'NOK'].includes(verificationTreeItemService.getVerificationResponseStateShortDisplayValue(node)) ||
            verificationTreeItemService.getVerificationBooleanValue(node, 'verificationCloseState')
          "
          [ngClass]="'button w7em'"
          [ngbTooltip]="translateService.translateFromMap('Close State')"
          (click)="
            verificationTreeItemService.canAnswerVerify()
              ? verificationTreeItemService.onVerificationStateBtnClick($event, node)
              : null
          "
        >
          {{
            verificationTreeItemService.getVerificationBooleanValue(node, "verificationCloseState") ? "Closed" : "Open"
          }}
        </div>
      </div>
      <div class="node-col node-col-btn w8em">
        <div
          *ngIf="
            verificationTreeItemService.getVerificationBooleanValue(node, 'verificationCloseState') ||
            verificationTreeItemService.getVerificationBooleanValue(node, 'verificationCorrectionState')
          "
          [ngClass]="'button w7em'"
          [ngbTooltip]="translateService.translateFromMap('Correction State')"
          (click)="
            verificationTreeItemService.canOpenVerifyDialog
              ? verificationTreeItemService.onVerificationStateBtnClick($event, node)
              : null
          "
        >
          {{
            verificationTreeItemService.getVerificationBooleanValue(node, "verificationCorrectionState")
              ? "Amended"
              : "Not Amended"
          }}
        </div>
      </div>
    </div>
  </div>
</div>
