<ng-template #defaultNodeCollapseTemplate let-node="node">
  <div class="node-collapse">
    <div *ngIf="getChildrenNodesLength(node)" (mousedown)="onNodeIconClick($event, node)">
      <fa-icon *ngIf="node.isCollapsed" icon="chevron-right"></fa-icon>
      <fa-icon *ngIf="!node.isCollapsed" icon="chevron-down"></fa-icon>
    </div>
  </div>
</ng-template>

<ng-template #defaultNodeContentTemplate let-node="node">
  <div class="node-labelcol">
    <div class="node-indent" [ngStyle]="getNodeIconStyle(node)"></div>

    <ng-template [ngTemplateOutlet]="defaultNodeCollapseTemplate" [ngTemplateOutletContext]="{ node: node }">
    </ng-template>

    <div [ngClass]="getNodeLabelClass(node)" [ngbTooltip]="getNodeTooltip(node)" container="body">
      <span> {{ getNodeLabel(node) }} </span>
    </div>

    <div *ngIf="node.icons" class="node-icons d-inline">
      <span *ngFor="let icon of node.icons">
        <span [ngbTooltip]="icon.tooltip" container="body">
          <fa-icon [icon]="icon.icon"></fa-icon>
        </span>
      </span>
    </div>
  </div>

  <div class="node-actions-panel">
    <ng-container *ngIf="node.isNodeHover">
      <span
        *ngFor="let action of node.actions"
        class="action-icon"
        [ngbTooltip]="action.tooltip(node)"
        (click)="action.click(node)"
      >
        <fa-icon [icon]="action.icon(node)"></fa-icon>
      </span>
    </ng-container>
  </div>

  <!-- <div *ngIf="node.isNodeHover" class="node-right-panel"> -->
  <!-- <div [hidden]="!node.isNodeHover" class="node-right-panel"> -->

  <!--
  <div class="node-right-panel">
    <span class="tool-icon" [ngbTooltip]="Sauver" (click)="onIconClick(node)">
      <fa-icon icon="save"></fa-icon>
    </span>
  </div>
-->
</ng-template>

<ng-template #defaultCategoryNodeContentTemplate let-node="node">
  <div class="node-labelcol">
    <div [ngClass]="getNodeLabelClass(node)" [ngbTooltip]="getNodeTooltip(node)" container="body">
      <span>
        {{ getNodeLabel(node) }}
      </span>
    </div>

    <span class="float-right me-1">
      <ng-template [ngTemplateOutlet]="defaultNodeCollapseTemplate" [ngTemplateOutletContext]="{ node: node }">
      </ng-template>
    </span>
  </div>
</ng-template>

<ng-template #defaultNodeTemplate let-node="node" let-treeController="treeController">
  <div
    *ngIf="getIsNodeDisplayed(node)"
    [id]="getNodeId(node)"
    [ngClass]="getNodeClass(node)"
    (mousedown)="onNodeMouseDown($event, node)"
    (dblclick)="onNodeDoubleClick($event, node)"
    (contextmenu)="onNodeRightClick($event, node)"
    pDraggable="dd"
    (onDragStart)="onDragStart($event, node)"
    (onDragEnd)="onDragEnd($event, node)"
    (dragover)="onDragOver($event, node)"
    (drop)="onDrop($event, node)"
    (mouseenter)="onNodeMouseEnter($event, node)"
    (mouseleave)="onNodeMouseLeave($event, node)"
  >
    <ng-template
      *ngIf="node.indent === 0 && options.useCategoryTemplate"
      [ngTemplateOutlet]="defaultCategoryNodeContentTemplate"
      [ngTemplateOutletContext]="{ node: node, treeController: treeController }"
    >
    </ng-template>
    <ng-template
      *ngIf="node.indent > 0 || options.useCategoryTemplate === false"
      [ngTemplateOutlet]="getTheNodeContentTemplate(node)"
      [ngTemplateOutletContext]="{ node: node, treeController: treeController }"
    >
    </ng-template>
  </div>

  <div *ngIf="node.object && !node.isCollapsed && getChildrenNodesLength(node)" class="node-children">
    <ng-template ngFor let-child [ngForOf]="getChildrenNodes(node)">
      <ng-template
        *ngIf="child && child.isVisible"
        [ngTemplateOutlet]="defaultNodeTemplate"
        [ngTemplateOutletContext]="{ node: child, treeController: treeController }"
      >
      </ng-template>
    </ng-template>
  </div>
</ng-template>

<div
  class="nodes-container"
  pDraggable="dd"
  (onDragStart)="onDragStart($event, null)"
  (onDragEnd)="onDragEnd($event, null)"
  (dragover)="onDragOver($event, null)"
  (drop)="onDrop($event, null)"
>
  <div *ngFor="let node of nodes">
    <ng-template
      [ngTemplateOutlet]="defaultNodeTemplate"
      [ngTemplateOutletContext]="{ node: node, treeController: this }"
    >
    </ng-template>
  </div>
</div>
