:host {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.tree-header {
  display: block;
  width: 100%;
  height: var(--title-bar-height);
}

.nodes-container {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  /* height: calc(100% - var(--title-bar-height) - 2px);
  overflow: scroll; */
}

.node {
  cursor: pointer;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
}

.height-1-5em {
  height: 1.5em;
}

.node-expanded {
  height: 3em;
}

.node-labelcol {
  display: inline-block;
  width: 200px;
  flex-grow: 1;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.node-indent {
  display: inline-block;
  overflow: hidden;
}

.node-collapse {
  display: inline-block;
  cursor: pointer;
  color: #888;
  width: 1.2em;
  padding-left: 2px;
}

.node-label {
  display: inline;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 0.2em;
}

.node-label span {
  text-overflow: clip;
}

.node-data-panel {
  display: inline-block;
  padding: 0px 10px 0px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.node-actions-panel {
  display: inline-block;
  padding: 0px 5px 0px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.node-icons span {
  padding-right: 4px;
}

.action-icon {
  color: #888;
  display: inline-block;
  margin-right: 5px;
}

.node-selected {
  color: var(--node-active-color);
  background: var(--node-active-background);
}

.node-category {
  background: #eee;
  height: 1.8em;
  padding: 3px 0px 0px 8px;
}

.node-children {
  margin: 0px 0px 0px 0px;
}

.node-right-panel {
  /*  
  position: absolute; 
*/
  /* display: inline; */
  /* float: right; */
  display: inline-block;
  padding-right: 5px;
  width: 5em;
  /*  
  top: 0px;
  left: 20px;
  max-width: 10em;
  min-width: 5em;
  background: #00f4;
*/
}

.node :hover {
  background: #8882;
  /*  
  background: var(--node-hover-background);
*/
}

/*
.node-collapse-no-child {
  margin-left: 5px;
}
*/
/*
.node-label :hover {
	background: var(--node-hover-background);
}
*/
.node-label-deleted {
  color: var(--svg-status-yellow-color);
  text-decoration: line-through;
}

.node-label-selected {
  color: var(--node-active-color);
  background: var(--node-active-background);
}

/*
.status {
  font-size: 0.7em;
  vertical-align: top !important;
  margin-left: 2px;
}
*/
.status-same {
  color: #ddd;
}

.tool-icon {
  cursor: pointer;
  color: #888;
  display: inline-block;
  width: 1em;
}

.tool-icon :hover {
  color: var(--active-color);
}
