<context-menu #genericContextMenu>
  <ng-template
    contextMenuItem
    let-item
    *ngFor="let action of getContextMenuActions()"
    [visible]="action.visible"
    [enabled]="action.enabled"
    [divider]="action.divider"
    [subMenu]="getSubMenu(action)"
    (execute)="action.click($event.item)"
  >
    {{ getActionHtml(action) }}
  </ng-template>

  <context-menu *ngFor="let action of getSubMenuActions()" [menuClass]="action.subMenuId">
    <ng-template
      contextMenuItem
      let-item
      *ngFor="let action1 of action.contextMenuActions"
      [visible]="action1.visible"
      [enabled]="action1.enabled"
      [divider]="action1.divider"
      [subMenu]="getSubMenu(action1)"
      (execute)="action1.click($event.item)"
    >
      <div [ngClass]="{ 'active-menu-item': action1.active != undefined && action1.active(item) }">
        {{ getActionHtml(action1) }}
        <!-- {{ getActionHtml(action1) }}&nbsp;&nbsp;&nbsp; -->
      </div>
    </ng-template>
  </context-menu>
</context-menu>

<!--
<context-menu #genericContextMenu>
  <ng-template contextMenuItem let-item *ngFor="let action of getContextMenuActions()" 
    [visible]="action.visible"
    [enabled]="action.enabled"
    [divider]="action.divider"
    [subMenu]="getSubMenu(action)"
    (execute)="action.click($event.item)">
    {{ getActionHtml(action) }}
  </ng-template>

  <context-menu *ngFor="let action of getSubMenuActions()" [menuClass]="action.subMenuId">
    <ng-container *ngFor="let action1 of action.contextMenuActions" 
    [ngTemplateOutlet]="contextMenuItem"
    [ngTemplateOutletContext]="{ item: action1 }"
    >
    </ng-container>
  </context-menu>
</context-menu>
-->
