/* :root {
} */

html,
body {
  --font-color: #000;
  --font-size: 1em !important;

  --tab-bar-size: 30px;

  /* --app-top-bar-height: 40px; */
  --app-top-bar-height: 44px;
  --top-bar-height: 20px;

  --tool-bar-height: 32px;
  --tool-bar-font-size: 1em !important;
  --view-content-height-minus: 0px;

  --active-color: #0088ce;
  --active-background: #eee;
  --active-background-2: #0088ce50;
  --menu-active-color: #eee;
  --menu-active-background: #0088ce;

  --tooltip-color: #000;
  --tooltip-background: #ddd;
  /* --tooltip-color: var(--menu-active-color);
  --tooltip-background: var(--menu-active-background); */

  --hover-background: var(--active-background);

  --btn-active-color: var(--active-color);

  --button-active-color: var(--active-background);
  --button-active-background: var(--active-color);

  --tool-bar-background: #ddd;
  --category-background: #eee;

  --brand-color: #ffffff;
  --brand-color-alstom: #062173;
  /* --brand-color-alstom: #b21f30; */

  --top-bar-background: var(--menu-active-background);
  --top-bar-color: var(--menu-active-color);

  --status-bar-background: #ababab;
  --status-bar-color: #fff;
  --status-bar-height: 18px;

  --title-bar-height: 30px;
  --title-color: #444;
  --title-background: #bbb;
  --title-selected-color: #222;
  --title-selected-icon-color: var(--active-color);
  --title-selected-background: #ddd;
  --title-bar-back-background: #eee;
  --title-panel-bar-background: #ccc;

  --view-panel-background: #c6c6c6;

  --message-color: #444;

  --node-active-color: var(--font-color);
  --node-active-background: var(--active-background-2);
  --node-hover-background: var(--active-background-2);

  /* svg */
  --svg-color: #000;
  --svg-sig-color: var(--svg-color);
  --svg-stroke: var(--svg-color);

  --svg-active-stroke: var(--active-color);
  --svg-active-fill: var(--active-color);
  --hover-color: #0066ac;
  --svg-hover-stroke: var(--hover-color);
  --svg-hover-fill: var(--hover-color);
  --svg-disabled-stroke: #ccc;
  --svg-disabled-fill: #ccc;

  --svg-handle-fill: #a55;
  --svg-handle-stroke: #a55;
  --svg-handle-fill-hover: #f55;
  --svg-handle-stroke-hover: #f55;

  --svg-grid-color: #aaa5;
  --svg-small-grid-color: #bbb5;

  --svg-status-red-color: #dd0000;
  --svg-status-red-background: #dd0000;
  --svg-status-yellow-color: #ffcc00;
  --svg-status-yellow-background: #ffcc00;
  --svg-status-orange-background: #ff7b00;

  --svg-red-color-1: #dd0000a0;
  --svg-yellow-color-1: #ffcc00a0;
  --svg-red-color-2: #0000ffa0;
  --svg-yellow-color-2: #007700a0;
  --svg-red-color-3: #ca720ea0;
  --svg-yellow-color-3: #87ceeba0;
  --svg-red-color-4: #800080a0;
  --svg-yellow-color-4: #808000a0;

  --svg-ray-size: 5px;

  --color-status: var(--active-color);
  --color-default-status: #666;

  --color-change-status-new: #a00;
  --color-change-status-modified: var(--color-change-status-new);
  --color-change-status-same: var(--font-color);
  --color-change-status-deleted: #ff9900;

  /* mobile */
  --tool-bar-height: 2.1em;
  --tool-bar-font-size: 1.2em;
  --font-size: 1.1em;
  --view-content-height-minus: 8px;

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: var(--font-color);
  background: #f9f9f9;
  font-size: var(--font-size);

  /* no text selection */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #c1c1c1;
}
*/
/* Red and Yellow */
.svg-item-ray-red-1 {
  outline: var(--svg-ray-size) dashed #dd000080 !important;
}

.svg-item-ray-yellow-1 {
  outline: var(--svg-ray-size) dashed #ffcc0080 !important;
}

.svg-item-ray-red-2 {
  outline: var(--svg-ray-size) dashed #0000ff80 !important;
}

.svg-item-ray-yellow-2 {
  outline: var(--svg-ray-size) dashed #00770080 !important;
}

.svg-item-ray-red-3 {
  outline: var(--svg-ray-size) dashed #dd000080 !important;
}

.svg-item-ray-yellow-3 {
  outline: var(--svg-ray-size) dashed #ffcc0080 !important;
}

.svg-item-ray-red-4 {
  outline: var(--svg-ray-size) dashed #dd000080 !important;
}

.svg-item-ray-yellow-4 {
  outline: var(--svg-ray-size) dashed #ffcc0080 !important;
}

/* navbar */
/* 
.navbar {
  background: var(--top-bar-background);
  color: var(--top-bar-color);
  height: var(--app-top-bar-height);  
} 
*/

.fixed-top {
  z-index: 990;
}

/* views */
.toolbar {
  display: flow-root;
  background: var(--tool-bar-background);
  font-size: var(--tool-bar-font-size);
  /* height: var(--tool-bar-height); */
}

.view-content {
  width: 100%;
  height: calc(100% - var(--title-bar-height) - 5px);
  overflow: hidden;
}

.block-100p-div {
  display: block;
  width: 100%;
  height: 100%;
}

.btn-right {
  padding-right: 10px;
  float: right;
}

/* Menus & buttons */
.btn-group-xs > .btn,
.btn-xs {
  padding: 0.25rem 0.3rem;
  font-size: var(--tool-bar-font-size);
  border-radius: 0.2rem;
}

.btn-secondary {
  color: var(--menu-active-color);
  background: var(--menu-active-background);
  border-color: var(--menu-active-background);
}

.dropdown-item.active,
.dropdown-item:active {
  color: var(--menu-active-color);
  background: var(--menu-active-background);
}

.btn-link {
  color: #444;
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: none;
}

.cdk-overlay-container a {
  text-decoration: none;
}

.btn.active {
  color: var(--btn-active-color);
}

/* sub menus */
/*
.ngx-contextmenu a {
  background: red;
}
*/

.menu-item {
  padding-left: 0.75em;
}

/* .active-menu-item {
} */

.active-menu-item:before {
  content: "\2713" !important;
  padding-right: 0.75em;
  padding-left: 0em;
  color: #000;
  fill: #000;
  stroke: #000;
}

.dropdown-item .active {
  color: red;
}

.dropdown-item .active :before {
  content: "\2714" !important;
}

.dropdown-item div .active {
  background: red;
}

.dropdown-item div .active :before {
  content: "\2714" !important;
}

.dropdown-menu {
  z-index: 1100;
}

.dropdown-item {
  padding-right: 0.5rem !important;
}

.hasSubMenu:before {
  content: ">" !important;
  /* content: "\25B8" !important; */
  padding-left: 0.75em;
}

.tooltip-inner {
  color: var(--tooltip-color) !important;
  background-color: var(--tooltip-background) !important;
}

.arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: var(--tooltip-background) !important;
}

.bs-tooltip-right .arrow::before {
  border-right-color: var(--tooltip-background) !important;
}

.bs-tooltip-bottom .arrow::before {
  border-bottom-color: var(--tooltip-background) !important;
}

.bs-tooltip-left .arrow::before {
  border-left-color: var(--tooltip-background) !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #eee;
  background: #0088ce;
}

/* graphical view */
.tt-label {
  font-weight: bold;
}

/* svg */
.selection-rect {
  stroke: rgb(230, 50, 50);
  stroke-width: 1;
  fill: rgb(230, 150, 150);
  stroke-dasharray: 5, 5;
  opacity: 0.2;
}

.svg-item {
  cursor: pointer !important;
  /* stroke: var(--svg-stroke); */
}

.svg-item-disabled {
  opacity: 0.6;
}

.svg-item :hover {
  outline: 2px solid rgba(133, 190, 212, 0.4) !important;
  stroke: var(--svg-hover-stroke) !important;
  /* background: red; */
}

/* 
.svg-item-selected:before {
  outline: 12px solid red !important;
} 
*/

.svg-item-selected-div {
  /* outline: 6px solid blue !important; */
  /* stroke: red !important; */
}

.svg-item-selected {
  outline: 6px solid rgba(133, 190, 212, 0.4);

  /* stroke: url(#crosses); */
  /* outline: 6px solid blue !important; */
  /* outline: 6px solid rgba(133, 190, 212, 0.4) !important; */
  /* outline: 6px dotted rgba(133, 190, 212, 0.4) !important; */
  /* stroke: var(--svg-active-stroke) !important; */
  /* background: inline-svg('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve"><circle cx=5 cy=5 r=20 fill=red/></svg>'); */
  /* background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0' y='0' width='50' height='50'><linearGradient id='gradient'><stop offset='10%' stop-color='%23F00'/><stop offset='90%' stop-color='%23fcc'/> </linearGradient><rect fill='url(%23gradient)' x='0' y='0' width='100%' height='100%'/></svg>")  !important; */
}

/* 
.svg-item-selected::before {
  content: "<circle c=5 cy=5 r=10 fill=red/>";
  outline: 20px solid red !important;  
  background: red;
} 
*/

.svg-copy {
  outline: 66px solid rgba(146, 22, 140, 0.8);
}

/* verfi decoration element classes */
.svg-item-verif-deco {
  /* font-family: "Monospace"; */
  stroke-width: 3;
  fill: none;
  /* stroke-dasharray: "6,10"; not supported by css */
  font-size: 2em;
  /* letter-spacing: 0.05em; */
}

.svg-item-verif-deco-tobeverified {
  stroke: rgba(127, 127, 127, 0.4);
}

.svg-item-verif-deco-ok {
  stroke: rgba(0, 192, 0, 0.4);
}

.svg-item-verif-deco-nok {
  stroke: rgba(192, 0, 0, 0.4);
  stroke-dasharray: "10";
  /* fill: rgba(127, 0, 0, 0.1); */
}

.svg-item-verif-text {
  /* stroke-width: 2; */
}

/* verif classes */
.svg-item-verif-tobeverified {
  outline: 4px solid rgba(127, 127, 127, 0.4);
  /* border: 6px solid rgba(127, 127, 127, 0.6);   */
  /* stroke: rgba(127, 127, 127, 0.6); */
  /* stroke: rgba(127, 127, 127, 0.6) !important; */
}

.svg-item-verif-ok {
  outline: 4px dashed rgba(0, 127, 0, 0.4);
}

.svg-item-verif-nok {
  outline: 4px dashed rgba(127, 0, 0, 0.4);
}

.svg-item-hidden {
  display: none;
}

.red-color {
  color: var(--svg-status-red-color);
}

.yellow-color {
  color: var(--svg-status-yellow-color);
}

/* modal */
.modal-title {
  font-size: 1.2rem;
  font-weight: 500;
}

/* Wiki style */
.wiki-menu {
  list-style: none;
}

.wiki-menu ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

.rubric-item > div {
  margin-top: 0.5em;
  border-bottom: 1px solid #aaa;
}

/* 
.rubric-item {
}
.rubric-list {
}
.page-list {
}
*/
h1,
h2,
h3,
h4,
h5 {
  border-bottom: 1px solid #ddd;
}
.h1,
h1 {
  font-size: 1.5rem;
}
.h2,
h2 {
  font-size: 1.4rem;
}
.h3,
h3 {
  font-size: 1.3rem;
}
.h4,
h4 {
  font-size: 1.2rem;
}
.h5,
h5 {
  font-size: 1.1rem;
}

/* ::after tests */
/* 
  .title::after {
  content: "hello";
  background-image: url('assets/logo.png');
  display: block;
  background: red;
  width: 50px;
  height: 50px;
  position: relative;
  top: -10px;
  left: -20px;
  padding: 2px;
  z-index: 2000;
  outline: 4px solid rgba(127, 0, 0, 0.4);  
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' fill='white'><path d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z' /></svg>");
} */

/*
svgwg https://github.com/w3c/svgwg/issues/125 not ::after in svg...
https://codepen.io/Rex/pen/VmKXdp
*/

/* 
.svg-item-verif-nok::after {
  content: "hello";
  background-image: url('assets/logo.png');
  display: block;
  background: red;
  width: 50px;
  height: 50px;
  position: relative;
  top: -10px;
  left: -20px;
  padding: 2px;
  z-index: 2000;

  outline: 4px solid rgba(127, 0, 0, 0.4);  
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' fill='white'><path d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z' /></svg>");
} */

.w2em {
  width: 2em !important;
}

.w3em {
  width: 3em !important;
}

.w4em {
  width: 4em !important;
}

.w5em {
  width: 5em !important;
}

.w6em {
  width: 6em !important;
}

.w7em {
  width: 7em !important;
}

.w8em {
  width: 8em !important;
}

.w9em {
  width: 9em !important;
}

.w10em {
  width: 10em !important;
}

.w12em {
  width: 12em !important;
}

.w14em {
  width: 14em;
}

/* Boostrap 5 update */
h1,
h2,
h3,
h4,
h5 {
  border-bottom: none;
}

.close {
  background: none;
  border: none;
  font-size: 1.5rem;
}

.collapsing {
  transition: none !important;
}

label {
  margin-bottom: 0.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fff
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
    right 0.75rem center/8px 10px no-repeat;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  appearance: none;

  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
}

.custom-select[multiple],
.custom-select[size]:not([size="1"]) {
  height: auto;
  padding-right: 0.75rem;
  background-image: none;
}

.input-group.has-validation > .input-group-append:nth-last-child(n + 3) > .btn,
.input-group.has-validation > .input-group-append:nth-last-child(n + 3) > .input-group-text,
.input-group:not(.has-validation) > .input-group-append:not(:last-child) > .btn,
.input-group:not(.has-validation) > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group > .input-group-append:last-child > .input-group-text:not(:last-child),
.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child),
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
