<div class="modal-header">
  <div class="modal-title" id="modal-text-title">{{ title }}</div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>
    <span i18n="@@upload.modal.select.workspace">Select a project to upload:</span>
  </p>
  <input type="file" class="file-upload" (change)="onFolderSelected($event)" webkitdirectory multiple #fileUpload />
  <p>
    <button
      ngbAutofocus
      type="button"
      class="btn btn-outline-dark"
      [disabled]="buttonsDisabled || selectButtonDisabled"
      (click)="fileUpload.click()"
    >
      Select project
    </button>
    <span *ngIf="uploadData.projectName" class="ms-3">'{{ uploadData.projectName }}' project selected.</span>
  </p>

  <div>
    <div>
      <p *ngIf="invalidProjectWarningVisible" i18n="@@upload.modal.invalid.project.warning" class="form-text red-text">
        Not a valid project. Please ensure that it includes an xml or railml file with the same name as the folder name.
      </p>
      <p
        *ngIf="existingProjectWarningVisible"
        i18n="@@upload.modal.existing.project.warning"
        class="form-text red-text"
      >
        A project with the same name already exists. WARNING: The existing project will be overwritten.
      </p>

      <p *ngIf="uploadData.filesToBeUploadedCount">
        Uploading {{ uploadData.filesToBeUploadedCount }} files, {{ uploadData.filesUploadedCount }} done.
      </p>
    </div>
    <p>
      <ngb-progressbar type="success" [value]="uploadData.progressValue">
        {{ uploadData.progressValue }}%
      </ngb-progressbar>
    </p>
  </div>

  <p *ngIf="messageUploadingDoneVisible">Uploading done. Converting project...</p>
  <p *ngIf="messageConversionDoneVisible">Project uploaded and converted.</p>
</div>
<div class="modal-footer">
  <button
    #uploadButton
    type="button"
    i18n="@@upload.modal.upload"
    class="btn btn-outline-dark"
    [disabled]="uploadButtonDisabled"
    (click)="onUploadBtnClick()"
  >
    Upload
  </button>
  <button
    #closeButton
    type="button"
    i18n="@@upload.modal.close"
    class="btn btn-outline-dark"
    [disabled]="buttonsDisabled"
    (click)="activeModal.dismiss('cancel click')"
  >
    Close
  </button>
</div>
