<ng-template #svgTooltipTemplate>
  <ng-container *ngIf="getTooltipTemplate() else defaultTooltipTemplate"
    [ngTemplateOutlet]="getTooltipTemplate()"
    [ngTemplateOutletContext]="{ svgObject: getTooltipSvgObject(), svgDiagramComponent: this }"
  >
  </ng-container>
  <ng-template #defaultTooltipTemplate>
    <div [innerHtml]=getDefautTooltipHtml(svgObject)></div>
  </ng-template>
</ng-template>

<div #svgtooltip class="svg-tooltip">
  <ng-container
    [ngTemplateOutlet]="svgTooltipTemplate"
    [ngTemplateOutletContext]="{ svgObject: getTooltipSvgObject() }"
  >
  </ng-container>
</div>

