.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    position: relative;
    padding-bottom: 2rem;
  }
  
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }

  .comment-height{
    max-height: 430px;
    overflow-y: scroll;
  }

  .main-panel{
    border: 1px solid #aaa;
    padding: 5px;
    border-radius: 8px;
  }

  .add-margin{
    margin: 5px;
  }

  .button-group {
    bottom: 5px;
    right: 5px;
  }
  
  .button-group button {
    margin: 0 2px;
  }

  /* Initially hide the toolbar */
.note-toolbar {
  visibility: hidden; /* Hide the toolbar */
  transition: visibility 0.2s ease-in-out; /* Smooth transition */
}
/* use this when calling initToolbarHoverEffect from ngInit*/
/* Show the toolbar when hovering near the editor */
.note-editor:hover .note-toolbar {
  visibility: visible;
}

.note-editable:empty:before{
  content: attr(placeholder);
  color: #999;
  font-size: 1rem;
  font-style: italic;
  display: block;
}